body {
	 font-family: 'Roboto Condensed', sans-serif;
}
.navbar span.text-success {
	font-family: 'Satisfy', cursive;
}

div.border-col {
	border: 1px solid #444;
}
.arrow-left,.arrow-right {
	margin-top: 2rem;
}
.arrow-left .fa,.arrow-right .fa {
	color: #395a5a;
	font-size: 24px;
}
.arrow-left .fa:hover, .arrow-right .fa:hover {
    color: #69acac;
    font-size: 42px;
}
.wrap {
	
	background: url(img/1.png) no-repeat,url(img/stevesmith.png)  no-repeat;
	background-position: center left,center right;
	background-size: 7% 100% ,7% 100%;
	background-color: #e9eaec;

}
.carousel-item .slide-img {
	
	height: 380px;
	max-width: 100%;
	
}
.carousel-caption img,.carousel-change img{
    width: 120px;
    /*border-radius: 50%;*/
    max-width: 100%;
	height: 38px;
	margin-right: 2%;
	background-color: #fbf6f6;
}
.carousel-caption img:hover,.carousel-change img:hover {
    background-color: #a9e8af;
}
 
.cricket-article p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: justify;
}
.cricket-article img{
	width: 100px;
	height: 100px;
	max-width: 100%;
	height: auto;
	float: left;

}
#article {
	overflow: hidden;
	/*background-color: 	#a6adb6;*/
	background-image: url(img/bg6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	color: #ffffff;
	padding: 5% 0 5% 0;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#footer span {
	color: #fff;
	
}

@media (max-width: 767px)
 {
 	
 	/*.carousel-change {
 		background-image: url(img/slide1.jpg);
 		
 		max-width: 100%;
 		height: auto;
 	}*/
 	 .carousel-change {
 		background-image: url(img/slide1.jpg);
 		
 		max-width: 100%;
 		height: 400px;
 		
        background-size: 100% 100%;
 	}
 	.container .carousel-change  {
 		padding-top: 30%;
 	}
     .carousel-change img{
        width: 120px;
    
        max-width: 100%;
	    height: auto;
    }
    .wrap {
    	background-image: none;
    }
    div.border-col {
    	border: unset;
    }
 }
 @media (max-width: 768px)
 {
 	.wrap {
 		background-size: 50% 100% ,54% 100%,64% 100%;
 	}
 	.arrow-left .fa,.arrow-right .fa {
	color: #395a5a;
	
    }
    .display-4 {
    	font-size: 2rem;
    }
    /*.carousel-change {
 		background-image: url(img/slide1.jpg);
 		
 		max-width: 100%;
 		height: 400px;
 		
        background-size: 100% 100%;
 	}*/
 	/*.carousel-change .container {
 		padding-top: 30%;
 	}
     .carousel-change img{
        width: 120px;
    
        max-width: 100%;
	    height: auto;
    }*/
    .wrap {
    	background-image: none;
    }
    div.border-col {
    	border: unset;
    }
 }
 @media (max-width: 420px)
 {
 	.arrow-left .fa,.arrow-right .fa {
	color: #395a5a;
	
	font-size: 18px;
    }
    div.border-col {
    	border: unset;
    }
    .display-4 {
    	font-size: 1.5rem;
    }
    .carousel-change {
 		background-image: url(img/slide1.jpg);
 		
 		max-width: 100%;
 		height: 250px;
 		
        background-size: 100% 100%;
 	}
    .carousel-change img{
        width: 120px;
    
        max-width: 100%;
	    height: auto;
    }
     div.border-col {
    	padding: unset;
    }
    .arrow-left,.arrow-right {
    margin-top: 2rem;
}
 }
